{% extends 'base.html' %}


{% block content %}
    <h1 class='text-center py-5'>COMMUNITY</h1>
    <a class='btn btn-outline-primary d-flex justify-content-center my-4' href="{% url 'pages:new' %}">
        {% if writings|length == 0 %}
            <p class='my-2'>첫 번째 게시글을 작성해주세요!</p>
        {% else %}
            <p class='my-2'>게시글 작성</p>
        {% endif %}
    </a>
    {% for writing in writings %}
    <div class='d-flex'>
        <p class='mx-2 my-0' style='font-sixe:3'>{{writing.pk}}</p>
        <a class='mx-2' href="{% url 'pages:detail' writing.pk %}">{{writing.title}} </a>
    </div>
    <hr>
    {% endfor %}

{% endblock content %}
